      .youtube-logo{
  width: 90px;
  display: inline-block;
       }
      .Search{
  font-family: Arial;
  font: bolder;
  display: block;
  margin-left: 50px;
  display:block;
         }
      .video-thumbnail{
       width: 300px;
      display: block;
      margin-top: 30px;
      cursor: pointer;
     }
      .video-thumbnail:hover{
              box-shadow: 2px 2px 2px black;
              background-color: blue;
            }
     .title{
              display: inline-block;
              width: 300px;
              font-family: arial;
              font-weight: bold;
              font-size: 19px;
            }            
      .video-preview{
              vertical-align: top;
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
      }      
      .ch-logo {
        width: 40px;
        border-radius: 30px;
        cursor: pointer;
      }
      .video-img{
        vertical-align: top;
        margin-top: 18px;
        display: inline-block;
      }
      .video-info{
        display: inline-block;
      }
      .ch-name{
        display: block;
        margin-top: -10px;
        font-family: arial;
        color: rgb(94, 94, 94);
        text-decoration: none;
        cursor: pointer;
      }
      .ch-des{
        font-family: arial;
        color: rgb(94, 94, 94);
        text-decoration: none;
      }